<!--Contact Form-->
<form novalidate (ngSubmit)="onSubmit()" *ngIf="null != clienteFormGroup" [formGroup]="clienteFormGroup">


    <h3 class="h3-responsive">1. Dados Pessoais</h3>
    <br>
    <div class="card card-body">
        <div class="row">
            <div class="col-12 col-md-7">
                <mat-form-field>
                    <span matPrefix>
                        <i class="marrom material-icons vertical-align-middle padding-bottom-3">person</i>&nbsp;</span>
                    <input matInput placeholder="Nome *" formControlName="nome">
                    <mat-error *ngIf="clienteFormGroup.get('nome').invalid">Por favor, informe o nome do cliente.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-5">
                <mat-form-field>
                    <span matPrefix>
                        <i class="marrom material-icons vertical-align-middle padding-bottom-3">phone</i>&nbsp;</span>
                    <input matInput telefoneMask placeholder="Telefone *" formControlName="telefone">
                    <mat-error *ngIf="clienteFormGroup.get('telefone').invalid">Por favor, informe o telefone do cliente.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-7">
                <mat-form-field>
                    <span matPrefix>
                        <i class="marrom material-icons vertical-align-middle padding-bottom-3">
                            <i class="marrom material-icons">mail_outline</i>
                        </i>&nbsp;</span>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-5">
                <mat-form-field>
                    <span matPrefix>
                        <i class="marrom material-icons vertical-align-middle padding-bottom-3">subtitles</i>&nbsp;</span>
                    <input matInput cpfMask placeholder="CPF" formControlName="cpf">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-7">

            </div>
            <div class="col-12 col-md-5">
                <mat-form-field class="example-full-width">
                    <span matPrefix>
                        <i class="marrom material-icons vertical-align-middle padding-bottom-3">cake</i>&nbsp;</span>
                    <input matInput [matDatepicker]="picker" (focus)="picker.open()" placeholder="Data de Nascimento" formControlName="dataNascimento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" startView="year" #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>

    <br>
    <h3 class="h3-responsive">2. Endereços</h3>
    <br>

    <div formArrayName="enderecosFormArray">

        <!-- ngFor de enderecos -->
        <div *ngFor="let endereco of clienteFormGroup.get('enderecosFormArray').controls; let i=index" [formGroupName]="i">

            <!-- Card endereço-->
            <div class="card card-body" id="cardEndereco{{i}}">

                <div class="row">
                    <div class="col-12 col-md-12">
                        Endereço {{i+1}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        &nbsp;
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-7">
                        <mat-form-field>
                            <span matPrefix>
                                <i class="marrom material-icons vertical-align-middle padding-bottom-3">location_on</i>&nbsp;</span>
                            <input matInput cepMask placeholder="CEP" formControlName="cep">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-7">
                        <mat-form-field>
                            <span matPrefix>
                                <i class="marrom material-icons vertical-align-middle padding-bottom-3">directions</i>&nbsp;</span>
                            <input matInput placeholder="Logradouro *" formControlName="rua">
                            <mat-error *ngIf="clienteFormGroup.get('enderecosFormArray').controls[i].get('rua').invalid">Por favor, informe o logradouro do cliente.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-5">
                        <mat-form-field>
                            <span matPrefix>
                                <i class="marrom material-icons vertical-align-middle padding-bottom-3">filter_9</i>&nbsp;</span>
                            <input matInput placeholder="Número *" formControlName="numero">
                            <mat-error *ngIf="clienteFormGroup.get('enderecosFormArray').controls[i].get('numero').invalid">Por favor, informe o número do logradouro do cliente.</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-7">
                        <mat-form-field>
                            <span matPrefix>
                                <i class="marrom material-icons vertical-align-middle padding-bottom-3">business</i>&nbsp;</span>
                            <input matInput placeholder="Complemento" formControlName="complemento">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-5">
                        <mat-form-field>
                            <span matPrefix>
                                <i class="marrom material-icons vertical-align-middle padding-bottom-3">loyalty</i>&nbsp;</span>
                            <input matInput placeholder="Bairro" formControlName="bairro">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-7">
                        <mat-form-field>
                            <span matPrefix>
                                <i class="marrom material-icons vertical-align-middle padding-bottom-3">account_balance</i>&nbsp;</span>
                            <input matInput placeholder="Cidade" formControlName="cidade">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-5">
                        <mat-form-field>
                            <span matPrefix><i class="marrom material-icons vertical-align-middle padding-bottom-3">map</i>&nbsp;</span>
                            <input matInput placeholder="UF" formControlName="uf" maxlength="2" style="text-transform:uppercase">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-3">
                    </div>
                    <div class="col-6 col-md-3">
                        <a type="button" class="btn btn-primary btn-sm grey darken-1 waves-light" (click)="criarFormNovoEndereco(i+1)" mdbRippleRadius>
                            <i class="fa fa-plus ml-1"></i> &nbsp;Novo </a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a type="button" class="btn btn-primary btn-sm grey darken-1 waves-light" *ngIf="clienteFormGroup.get('enderecosFormArray').controls.length > 1"
                            (click)="excluirFormEndereco(i)" mdbRippleRadius>
                            <i class="fa fa-trash-o ml-1"></i> &nbsp;Excluir </a>
                    </div>
                    <div class="col-12 col-md-3">
                    </div>
                </div>

                <!-- Card endereço fim-->
            </div>
            <br>
            <!-- ngFor de enderecos fim -->
        </div>

    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <button type="submit" class="btn btn-floating btn-large botao-lateral grey darken-1 waves-light" [disabled]="clienteFormGroup.invalid || salvando"
            mdbRippleRadius>
            <i class="fa fa-save"></i>
        </button>
    </div>
    <div class="fixed-action-btn" style="bottom: 120px; right: 24px;">
        <a class="btn-floating btn-large rgba-brown-strong waves-light" [routerLink]="['/clientes']" mdbRippleRadius>
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>




</form>
<!--Contact Form-->


<!-- Modal de Confimração -->
<div mdbModal #modalConfirmacao="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Sucesso</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalConfirmacao.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p [innerHTML]="textoModal"></p>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal" mdbTooltip="Adiconar novo cliente. " (click)="limparFormulario()" placement="top"
                    mdbRippleRadius>
                    <i class="fa fa-user-plus ml-1"></i> &nbsp;Novo</a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" [routerLink]="['/clientes']" mdbTooltip="Voltar para a lista. "
                    placement="top" mdbRippleRadius>
                    <i class="fa fa-arrow-left ml-1"></i> &nbsp;Voltar </a>
            </div>
        </div>
    </div>
</div>
