<div class="card card-body">
    <div class="row">

        <div class="col-md-3">
            <mat-form-field>
                <span matPrefix>
                    <i class="fa fa-search fa-lg prefix grey-text"></i>&nbsp;&nbsp;</span>
                <input matInput placeholder="Pesquisar" #gb>
            </mat-form-field>
        </div>

        <div class="col-md-0">

        </div>

    </div>

    <div class="row">

        <!--Second column-->
        <div class="col-md-12">

            <p-dataTable styleClass="table" [value]="categorias" [paginator]="true" [globalFilter]="gb" selectionMode="single" [rows]="5"
                [responsive]="true" emptyMessage="Nenhuma categoria encontrado(a).">
                <p-column field="nome" header="Nome" [sortable]="true"></p-column>
                <p-column header="Opções" [style]="{'width':'250px'}">
                    <ng-template pTemplate="body" let-categoria="rowData">
                        <div class="align-items-center" style="width: 100%; text-align: center;">
                            <a (click)="abrirFormEdicao(categoria)">
                                <i class="fa fa-edit"></i> Editar
                            </a>
                            <a (click)="confimrarExclusao(categoria)">
                                <i class="fa fa-remove"></i> Excluir
                            </a>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>

        </div>

    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <button class="btn btn-floating btn-large botao-lateral grey darken-1 waves-light" (click)="abrirFormInclusao()" mdbRippleRadius>
            <i class="fa fa-plus"></i>
        </button>
    </div>

</div>



<!-- Modal de Confimração de Exclusão -->
<div mdbModal #modalConfirmacaoExclusao="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Excluir</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalConfirmacaoExclusao.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i *ngIf="!excluidoComSucesso" class="fa fa-trash fa-4x mb-3 animated bounce" [ngClass]="{'infinite' : excluindo}"></i>
                    <i *ngIf="excluidoComSucesso" class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p *ngIf="excluidoComSucesso">Exclusão realizada com sucesso.</p>
                    <br>
                    <br>
                    <mdb-progressbar *ngIf="excluidoComSucesso" value="{{valorContagemRegressiva}}" min="0" max="100" type="success" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></mdb-progressbar>
                    <p *ngIf="!excluindo && !excluidoComSucesso">A categoria
                        <strong>{{categoria.nome}}</strong> será excluída.</p>
                    <p class="animated flash infinite" *ngIf="excluindo">Excluindo...</p>
                </div>
            </div>
            <div *ngIf="!excluidoComSucesso" class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary-modal" (click)="excluir()" mdbRippleRadius [disabled]="excluindo || excluidoComSucesso">
                    <i class="fa fa-trash-o ml-1"></i> &nbsp;Confirmar</button>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="modalConfirmacaoExclusao.hide()" mdbRippleRadius>
                    <i class="fa fa-arrow-left ml-1"></i> &nbsp;Cancelar </a>
            </div>
        </div>
    </div>
</div>


<!-- Modal de edição -->
<div mdbModal #modalForm="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <form novalidate (ngSubmit)="onSubmit()" *ngIf="null != categoriaFormGroup" [formGroup]="categoriaFormGroup">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead">{{textoModalEdicaoInclusao}}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalForm.hide()">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="text-center" *ngIf="salvoComSucesso">
                        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                        <p>Categoria salva com sucesso.</p>
                        <br>
                        <br>
                        <mdb-progressbar value="{{valorContagemRegressiva}}" min="0" max="100" type="success" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100"></mdb-progressbar>
                    </div>
                    <div *ngIf="!salvoComSucesso" class="row">
                        <div class="col-12 col-md-12">
                            <mat-form-field>
                                <input matInput placeholder="Nome da Categoria *" formControlName="nome">
                                <mat-error *ngIf="categoriaFormGroup.get('nome').invalid">Por favor, informe o nome da categoria.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div *ngIf="!salvoComSucesso" class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary-modal" (click)="salvar()" mdbRippleRadius [disabled]="salvando || categoriaFormGroup.invalid">
                        <i class="fa  ml-1" [ngClass]="salvando ? 'fa-refresh animated rotateIn infinite' : 'fa-check'"></i> &nbsp;Salvar</button>
                    <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="modalForm.hide()" mdbRippleRadius>
                        <i class="fa fa-close ml-1"></i> &nbsp;Fechar </a>
                </div>
            </div>
        </div>
    </form>
</div>
