<div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

        <!--Header-->
        <div class="modal-header grey darken-1 white-text">
            <h4 class="title">
                <i class="fa fa-laptop"></i> Tártaros Admin</h4>
        </div>
        <!--Body-->
        <div class="modal-body">
            <form autocomplete="off" #f="ngForm">
                <br>
                <mat-form-field>
                    <input matInput placeholder="Email" name="usuario" ngModel required #usuario>
                    <mat-error *ngIf="usuario.invalid">Por favor, informe o seu e-mail.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha" name="senha" ngModel required #senha>
                    <mat-error *ngIf="senha.invalid">Por favor, informe a sea senha de acesso.</mat-error>
                </mat-form-field>
                <br>
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-info grey darken-1 waves-light" (click)="login(usuario.value, senha.value); senha.value='';"
                        mdbRippleRadius>Entrar
                        <i class="fa fa-sign-in ml-1"></i>
                    </button>
                </div>
            </form>
            <br>
            <hr>
            <br>
            <div class="row">
                <div class="col-12 col-md-5" style="text-align: center;">
                    Esqueceu a
                    <a href="#">senha?</a>
                </div>

                <div class="col-12 col-md-7" style="text-align: center;">
                    Não é cadastrado?
                    <a href="#">Contato.</a>
                </div>
            </div>
            <br>

        </div>

    </div>
    <!--/.Content-->
</div>
