<!--Double navigation-->
<header *ngIf="exibindoNavbar()">
    <app-barra-navegacao></app-barra-navegacao>
</header>
<!--/.Double navigation-->

<!--Main Layout-->
<main [ngClass]="{'posicao-login': !exibindoNavbar()}">
    <div class="container">
        <ng-progress [positionUsing]="'translate3d'" [direction]="'leftToRightIncreased'" [color]="'rgba(121, 85, 72, 0.7)'" [trickleSpeed]="500"
            [thick]="true" [ease]="'easeInSine'"></ng-progress>
        <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </div>
</main>
<!--/Main layout-->
