<!--Produto Form-->
<form novalidate (ngSubmit)="onSubmit()" *ngIf="null != produtoFormGroup" [formGroup]="produtoFormGroup">


    <h3 class="h3-responsive">Dados do Produto</h3>
    <br>
    <div class="card card-body">
        <div class="row">
            <div class="col-12 col-md-10">
            </div>
            <div class="col-12 col-md-2">
                <div class="form-group">
                    <input type="checkbox" id="emFalta" formControlName="emFalta">
                    <label for="emFalta">Em falta</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <mat-form-field>
                            <input matInput placeholder="Nome *" formControlName="nome">
                            <mat-error *ngIf="produtoFormGroup.get('nome').invalid">Por favor, informe o nome do produto.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <mat-form-field>
                            <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false, align: 'left' }"
                                placeholder="Valor *" formControlName="valor">
                            <mat-error *ngIf="produtoFormGroup.get('valor').invalid">Por favor, informe o preço do produto.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <mat-form-field>
                            <mat-select placeholder="Categoria *" formControlName="categoriaId">
                                <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                                    {{ categoria.nome }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="produtoFormGroup.get('categoriaId').invalid">Por favor, informe a categoria do produto.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <mat-form-field>
                            <textarea matInput style="height: 149px" placeholder="Descrição" formControlName="descricao"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-form-field>
                    <mat-select placeholder="Complementos" formControlName="complementos" multiple>
                        <mat-option *ngFor="let complemento of complementos" [value]="complemento.id">{{complemento.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <button type="submit" class="btn btn-floating btn-large botao-lateral grey darken-1 waves-light" [disabled]="produtoFormGroup.invalid || salvando"
            mdbRippleRadius>
            <i class="fa fa-save"></i>
        </button>
    </div>
    <div class="fixed-action-btn" style="bottom: 120px; right: 24px;">
        <a class="btn-floating btn-large rgba-brown-strong waves-light" [routerLink]="['/cardapio/produtos']" mdbRippleRadius>
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>




</form>
<!--Contact Form-->


<!-- Modal de Confimração -->
<div mdbModal #modalConfirmacao="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Sucesso</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalConfirmacao.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p [innerHTML]="textoModal"></p>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary-modal" mdbTooltip="Adiconar novo produto. " (click)="limparFormulario()" placement="top"
                    mdbRippleRadius>
                    <i class="fa fa-plus ml-1"></i> &nbsp;Novo</a>
                <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" [routerLink]="['/cardapio/produtos']" mdbTooltip="Voltar para a lista. "
                    placement="top" mdbRippleRadius>
                    <i class="fa fa-arrow-left ml-1"></i> &nbsp;Voltar </a>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
