/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-grey, 700, 300, 900);
$my-theme-accent: mat-palette($mat-brown, 600);
$my-theme-warn: mat-palette($mat-red, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme-material {

  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #505050;
}

.mat-primary {
    color: #505050;
}

.mat-accent {
    color: rgba(121, 85, 72, 0.7);
}

.mat-form-field {
    display: inherit !important;
}






@media (min-width:769px) {
    .imagem-fundo {
        background: url("/assets/img/Logo_tartarosBG transparente.png") no-repeat 0 50%;
        background-repeat: no-repeat;
        background-position: 90% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

.bg-skin-lp {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.grey-skin .navbar {
    background-color: #505050;
    color: #fff;
}

.grey-skin .side-nav {
    background-color: #505050;
}

.grey-skin .side-nav .collapsible .card-body li a:hover {
    color: #969696;
}

.grey.darken-1 {
    background-color: #505050 !important;
}

.pills-secondary .nav-item .nav-link.active {
    background-color: #505050;
}

.text-danger-inputs-com-icone {
    margin-left: 3rem;
}

// .inputVal {
//     top: 50px;
// }

// input[type=text].invalid, input[type=text]:focus.invalid, input[type=password].invalid, input[type=password]:focus.invalid, input[type=email].invalid, input[type=email]:focus.invalid, input[type=url].invalid, input[type=url]:focus.invalid, input[type=time].invalid, input[type=time]:focus.invalid, input[type=date].invalid, input[type=date]:focus.invalid, input[type=datetime-local].invalid, input[type=datetime-local]:focus.invalid, input[type=tel].invalid, input[type=tel]:focus.invalid, input[type=number].invalid, input[type=number]:focus.invalid, input[type=search-md].invalid, input[type=search-md]:focus.invalid, input[type=search].invalid, input[type=search]:focus.invalid, textarea.md-textarea.invalid, textarea.md-textarea:focus.invalid {
//     border-bottom: 1px solid #F44336;
//     box-shadow: 0 0px 0 0 #F44336;
// }

// .iconeVermelho {
//     color: #F44336 !important;
// }

/* Prime NG */
.ui-paginator .ui-paginator-page.ui-state-active {
    background: #505050;
    color: #ffffff;
    border-color: #44474b;

}

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td {
    background-color: #505050;
    color: #FFFFFF;
}

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    border-color: inherit;
    box-sizing: border-box;
    padding: .9em .9em;
    border-width: 1px;
    border-style: none;
}

.ui-widget-content {
    border: 0px solid #D5D5D5;
    background: #ffffff;
    color: #222222;
}

.ui-datatable .ui-paginator-bottom {
    border-top-width: 0;
    background: #f5f5f5;
    padding-top: 10px;
}

.ui-datatable tbody tr.ui-widget-content.ui-state-highlight {
    background-color: rgba(121, 85, 72, 0.7);
    color: #FFFFFF;
}

.ui-datatable th.ui-state-active {
    background: #505050;
    color: #ffffff; }

.table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #e9ecef;
}

.ui-widget-header {
    border: 1px #d9d9d9;
}

a:hover, a:focus {
    text-decoration: none;
}


tr:hover td {
    background:rgba(121, 85, 72, 0.7);
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

.btn.btn-floating.botao-lateral {
    position: sticky;
}

.modal-dialog.modal-notify.modal-info .modal-header {
    background-color: #505050;
}

.modal-dialog.modal-notify.modal-info .btn-primary-modal {
    background: #505050;
}
.modal-dialog.modal-notify.modal-info .btn-primary-modal:hover {
    background: rgba(121, 85, 72, 0.7) !important;
}

.modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal {
    border: 1px solid #505050;
    color: #505050 !important;
}
.modal-dialog.modal-notify.modal-info .btn-outline-secondary-modal:hover {
    border: 1px solid rgba(121, 85, 72, 0.7);
    color: #505050 !important;
}

.modal-header {
    border-top-left-radius: 0.0rem;
    border-top-right-radius: 0.0rem;
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active, .btn-outline-info:active:focus, .btn-outline-info.active {
    border: 1px solid rgba(121, 85, 72, 0.7);
    color: #505050 !important;
}

.modal-dialog.modal-notify.modal-info .fa {
    color: #505050;
}

.grey-skin .btn-primary:hover, .grey-skin .btn-primary:focus, .grey-skin .btn-primary:active, .grey-skin .btn-primary.active {
    background-color: rgba(121, 85, 72, 0.7) !important;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(121, 85, 72, 0.7) !important;
}

.btn-floating i:hover {
    background-color: rgba(121, 85, 72, 0.7) !important;
}

.grey-skin .md-form .prefix.active {
    color: rgba(121, 85, 72, 0.7) !important;
}

.md-form.form-sm .prefix {
    color: #505050;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    background-color: rgba(121, 85, 72, 0.7) !important;
}

.grey-skin input[type=checkbox]:checked + label:before {
    border-right: 2px solid rgba(121, 85, 72, 0.7) !important;
    border-bottom: 2px solid rgba(121, 85, 72, 0.7) !important;
}


.spinner {
    padding-top: 60px;
}


.posicao-login {
    padding-top: 1.0rem !important;
}

// .grey-skin input:focus:not([readonly]), .grey-skin input[type="text"]:focus:not([readonly]), .grey-skin input[type="password"]:focus:not([readonly]), .grey-skin textarea.md-textarea:focus:not([readonly]) {
//     border-color: rgba(121, 85, 72, 0.7);
//     box-shadow: 0 1px 0 0 rgba(121, 85, 72, 0.7);
// }

// .grey-skin input[type="email"]:focus:not([readonly]) + label, .grey-skin input[type="text"]:focus:not([readonly]) + label, .grey-skin input[type="password"]:focus:not([readonly]) + label, .grey-skin textarea.md-textarea:focus:not([readonly]) + label {
//     color: rgba(121, 85, 72, 0.7);
// }

.md-form label.active {
    color: rgba(121, 85, 72, 0.7);
}

.tooltip-inner {
    background-color: #505050;
}

.modal-dialog.modal-notify.modal-info .btn-primary-modal:hover, .modal-dialog.modal-notify.modal-info .btn-primary-modal:focus, .modal-dialog.modal-notify.modal-info .btn-primary-modal:active {
    background-color: rgba(121, 85, 72, 0.7) !important;
}

.col-valor {
    width: 100px;
    text-align: center;
}

.col-tipo-complemento {
    width: 120px;
}

.opaco {
    opacity: 0.5;
}

.com-prefixo {
    margin-left: 3rem;
    width: calc(100% - 3rem) !important;
}

.mdb-select {
    width: calc(100% - 3rem) !important;
}

.toggle {
    z-index: 1 !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.marrom {
    color: rgba(121, 85, 72, 0.7) !important;
}

.fonte-menu {
    font-size: 20px;
}





